<div class="tabs tabs-wrap">
  <ul>
    <li><%= link_to 'ðŸ  ì‹œìž‘', '/projects/' + params[:project_id].to_s + '/milestone/tools', class: params[:tool].nil? ? 'selected' : '' %></li>
    <li><%= link_to 'ðŸ“… ì—°ê³„ì¼ê° ì ê²€', '/projects/' + params[:project_id].to_s + '/milestone/tools/check_related_issues', class: params[:tool] == 'check_related_issues' ? 'selected' : '' %></li>
    <li><%= link_to 'ðŸ”— ëª©í‘œë²„ì „ ê²€ì¦', '/projects/' + params[:project_id].to_s + '/milestone/tools/validate', class: params[:tool] == 'validate' ? 'selected' : '' %></li>
    <li><%= link_to 'ðŸ“… ì¼ì • ë™ê¸°í™”', '/projects/' + params[:project_id].to_s + '/milestone/tools/sync_parent_date', class: params[:tool] == 'sync_parent_date' ? 'selected' : '' %></li>
    <li><%= link_to 'ðŸ•’ ì—°ê¸° ì¼ê° ì¡°íšŒ', '/projects/' + params[:project_id].to_s + '/milestone/tools/delayed_issues', class: params[:tool] == 'delayed_issues' ? 'selected' : '' %></li>
  </ul>
</div>

<% if params[:tool] == 'validate' %>
  <%= render :partial => 'milestone/tools/validate' %>
<% elsif params[:tool] == 'sync_parent_date' %>
  <%= render :partial => 'milestone/tools/sync_parent_date' %>
<% elsif params[:tool] == 'delayed_issues' %>
  <%= render :partial => 'milestone/tools/delayed_issues' %>
<% elsif params[:tool] == 'check_related_issues' %>
  <%= render :partial => 'milestone/tools/check_related_issues' %>
<% else %>
  <%= render :partial => 'milestone/tools/welcome_tools' %>
<% end %>