<style>
    .version-box {
        border: 1px solid #999;
        padding: 10px;
        margin: 10px;
        border-radius: 8px;
    }
</style>

<%
  versions = @gantt_versions || []
  selected_version = @gantt_selected_version
  issue_groups = @gantt_issue_groups || {}
%>

<% if selected_version.nil? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>

<% html_title(selected_version.name.to_s) %>

<div class="tabs tabs-wrap">
  <ul>
    <% versions.each do |version| %>
      <li><%= link_to version.name.to_s, "/projects/#{@project.identifier}/milestone/gantt/versions/#{version.id}", class: ( selected_version && selected_version.id == version.id ) ? 'selected' : '' %></li>
    <% end %>
  </ul>
</div>

<div class="tab-content">

<h3><%= link_to selected_version.name.to_s, "/versions/#{selected_version.id}/edit" %></h3>
<% if issue_groups[:major].present? %>
<div class="version-box">
    <%= render :partial => 'milestone/gantt_chart', locals: { title: '주요 일감', issues: issue_groups[:major], due_date: selected_version.effective_date, date_marks: selected_version.marks, gantt_opts: { show_status_history: false } } %>
</div>
<% end %>
<% if issue_groups[:main].present? %>
<div class="version-box">
    <%= render :partial => 'milestone/gantt_chart', locals: { title: '메인 일감', issues: issue_groups[:main], due_date: selected_version.effective_date, date_marks: selected_version.marks, gantt_opts: { show_status_history: false } } %>
</div>
<% end %>
<% if issue_groups[:review].present? %>
<div class="version-box">
    <%= render :partial => 'milestone/gantt_chart', locals: { title: '이관 대기 일감', issues: issue_groups[:review], due_date: selected_version.effective_date, date_marks: selected_version.marks, gantt_opts: { show_status_history: false } } %>
</div>
<% end %>

</div>
<% end %>
